.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 42%;
    margin-bottom: 5%;
    border-radius: 0px;
  }
  
  .cbtn {
 margin-bottom: 80px;
 position: relative;
 z-index: 800;
  }

  .card {
    height: 250px;
    width: 250px;
    margin-right: 35px;
    box-shadow: 2px 6px 8px 0 rgb(38, 106, 38);
    border: none;
    border-radius: 15px;
    background-color: black;

  }

  
  
  .carousel-inner {
    padding: 1em;
  }

  
/* titulos */
h2 {
    display: flex;
    justify-content: center;
}

/*  sdfasd */

.accordion-collapse {
background-color: aquamarine;
}

#collapseOne {
    background-color: black;
}

/* offcanvas */

.offcanvas {
    background-color: rgb(45, 121, 33);
    color: white;
}
.offcbody {
  margin-top: 12%;
}

/* body */
body {
    background-color: rgb(224, 219, 212);
}

/* Ropa */
.div-ropa {
    margin-top: 25px;
}

#tumoto {
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

#h2casco {
  margin-top: 100px;
}

/* menu desplegable */

.closemenu {
  margin-left: 530px;
  border-radius: 19px;
}

.btn-bagcompras {
  position: relative;
  z-index: 9999;
}
.logobw {
  position: relative;
  z-index: 9999;
  
}

/* media queries df-992------------------------ */
@media screen and (max-width: 992px) {
        .closemenu {
  margin-left: 530px;
  border-radius: 19px;
}
.card {
    height: 220px;
    width: 160px;
    margin-right: 10px;
    box-shadow: 2px 6px 8px 0 rgb(38, 106, 38);
    border: none;
    border-radius: 15px;
    background-color: black;
}
.card-img-top {
    height: 200px;
    width: 130px;
    margin-bottom: 5px;

  }

  .bi-bag-fill {
    height: 25px;
    width: 25px;
    margin-top: -10px;
  }
      }

/* media queries df-768------------------------ */
@media screen and (max-width: 768px) {
          .closemenu {
  margin-left: 250px;
  border-radius: 19px;
  height: 49px;
  width: 49px;
}
.card {
    height: 155px;
    width: 115px;
    margin-right: 10px;
    box-shadow: 2px 6px 8px 0 rgb(38, 106, 38);
    border: none;
    border-radius: 15px;
    background-color: black;
}
.card-img-top {
    height: 90%;
    width: 100%;
    margin-bottom: 5px;

  }

  .bi-bag-fill {
    height: 15px;
    width: 15px;
    margin-top: -15px;
  }
        }

/* media queries df-576------------------------ */
@media screen and (max-width: 576px) {
        .closemenu {
  margin-left: 150px;
  border-radius: 19px;
}
.card {
    height: 120px;
    width: 90px;
    margin-right: 10px;
    box-shadow: 2px 6px 8px 0 rgb(38, 106, 38);
    border: none;
    border-radius: 15px;
    background-color: black;
}
.cbtn {
  height: 5px;
  width: 10px;
}

.card-img-top {
    height: 90%;
    width: 100%;
    margin-bottom: 5px;

  }

  .bi-bag-fill {
    height: 15px;
    width: 15px;
    margin-top: -15px;
  }
      }

/* media queries df-992------------------------ */
@media screen and (min-width: 160px) and (max-width: 320px) {
        .closemenu {
  margin-left: 100px;
  border-radius: 19px;
}
      }